

<div class="col-lg-7 mx-auto">
    <h1 class="display-4">User</h1>
  </div>
    <div class="row text-center text-white mb-5">
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ul class="list-group shadow">
          <li class="list-group-item">
            <div class="media align-items-lg-center flex-column flex-lg-row p-2">
              <h5 class="mt-0 font-weight-bold mb-2">{{profile.name}}</h5>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">{{profile.email}}</h6>
                <!-- <div><button cButton color="danger" *ngIf="currentActiveRole === 'admin'" (click)="deleteuser(user._id)">Delete</button></div> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
   
  </div> 