<div class="col-lg-7 mx-auto">
    <h1 class="display-4">User orders</h1>
  </div>
  <div *ngFor="let order of orders" class="container py-0">
    <div class="row text-center text-white mb-5">
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ul class="list-group shadow">
          <li class="list-group-item">
            <div class="media align-items-lg-center flex-column flex-lg-row p-2">
              <h5 class="mt-0 font-weight-bold mb-2">User: {{order.user_id.name}}</h5>
              <h5 class="mt-0 font-weight-bold mb-2">Product: {{order.product_id.product}}</h5>

              <h5 class="mt-0 font-weight-bold mb-2">Quantity: {{order.quantity}}</h5>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h5 class="font-weight-bold my-2">Final Price: {{order.total_amount}}</h5>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>  
  </div> 